<div class="container">
  <h2>Monkey List</h2>

  @for (monkey of monkeyList; track monkey.id) {
    <div class="monkey-card">
      <h3>{{ monkey.name }}</h3>
      <p>Species: {{ monkey.species }}</p>
      <p>Monkey Type: {{ monkey.monkeyType }}</p>
      <p>Has cool tricks: {{ monkey.hasCoolTricks ? 'Yes' : 'No'}}</p>
        @if (monkey.hasCoolTricks) {
          <p>This monkey got some cool tricks up its sleeve</p>
        }
        @if (!monkey.hasCoolTricks) {
          <p>This monkey over here has no tricks up its sleeve</p>
        }
      <button (click)="(monkey)" class="toggle-button">
        Monkey noise
      </button>
    </div>
  } @empty {
    <p>No more monkeys jumping on the bed.</p>
  }
</div>
